<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="ion-text-center">Créer un profil enfant</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()" [disabled]="!child.name || !child.birthDate">
      <ion-icon name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-avatar>
      <img [src]="child.avatar" alt="avatar">
    </ion-avatar>
    <ion-label>{{child.name}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Prénom</ion-label>
    <ion-input type="text" [(ngModel)]="child.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Date de naissance</ion-label>
    <ion-datetime cancel-text="Annuler" done-text="Ok" picker-format="DD MMM YYYY" display-format="DD MMM YYYY" [(ngModel)]="child.birthDate"></ion-datetime>
  </ion-item>
</ion-content>
