<ion-header>
  <app-toolbar title="Evolution de l'enfant"></app-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="growthStageFilterForm">
    <ion-list>
      <ion-item>
        <ion-label>Période</ion-label>
        <ion-select multiple="true" cancel-text="Annuler" okText="Valider"
                    formControlName="periods" (ionChange)="onFilterChange()">
          <ion-select-option *ngFor="let period of growthStagesPeriods$ | async" [value]="period.id">
            {{period.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Type d'évolution</ion-label>
        <ion-select multiple="true" cancel-text="Annuler" okText="Valider"
                    formControlName="types" (ionChange)="onFilterChange()">
          <ion-select-option *ngFor="let type of growthStagesTypes$ | async" [value]="type.id">
            {{type.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  <ion-card *ngFor="let growthStage of growthStages$ | async">
    <ion-card-header>
      <ion-card-title>{{growthStage.period.label}}</ion-card-title>
      <ion-card-subtitle>{{growthStage.type.label}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{growthStage.description}}</ion-card-content>
  </ion-card>
</ion-content>
