<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="auth-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-row class="ion-justify-content-center">
        <ion-img class="lock-image" src="assets/icon/padlock1.svg" alt="padlock"></ion-img>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-item class="ion-padding">
          <ion-label class="ion-text-center" position="floating">Pseudo</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-item class="ion-padding">
          <ion-label class="ion-text-center" position="floating">Mot de passe</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-top">
         <ion-button class="ion-align-items-center" type="submit" [disabled]="loginForm.invalid">Se connecter</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-button class="ion-align-items-center" color="warning" [routerLink]="['/register']">Créer un compte</ion-button>
      </ion-row>
    </form>
  </ion-row>
</ion-content>
