<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="auth-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <ion-row class="ion-justify-content-center">
        <ion-img class="register-image" src="assets/icon/register.svg" alt="add user"></ion-img>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-item class="ion-padding">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="mail" formControlName="email"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="ion-padding">
          <ion-label position="floating">Pseudo</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="ion-padding">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-button type="submit" [disabled]="registerForm.invalid">Valider</ion-button>
      </ion-row>
    </form>
  </ion-row>
</ion-content>
