<ion-card class="widget-container">
  <ion-card-header>
    <ion-card-title>Dernières actualités</ion-card-title>
  </ion-card-header>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  <ng-container *ngIf="rssFeedItems$ | async as feedItem">
    <ion-card-content>
      <ion-card *ngFor="let item of feedItem">
        <ion-grid>
          <ion-row>
            <ion-col size-sm="3">
              <ion-img [src]="item.image.url" alt="rss feed image"></ion-img>
            </ion-col>
            <ion-col>
              <ion-card-header>
                <ion-card-title>{{item.title}}</ion-card-title>
                <ion-card-subtitle>{{item.url}}</ion-card-subtitle>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-card-content>
  </ng-container>
  <ng-container *ngIf="isError">
    Un problème est survenu lors de la récupération du flux. Veuillez réessayer plus tard.
  </ng-container>
</ion-card>
