<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-thumbnail slot="start">
    <ion-img src="assets/icon/logo.png" alt="logo"></ion-img>
  </ion-thumbnail>
  <ion-title *ngIf="title">{{title}}</ion-title>
</ion-toolbar>
