<ion-header>
  <app-toolbar title="Vaccins"></app-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Période</ion-label>
    <ion-select multiple="true" cancel-text="Annuler" okText="Valider"
                (ionChange)="onPeriodChange($event)">
      <ion-select-option *ngFor="let period of periods$ | async" [value]="period.id">
        {{period.label}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-slides pager="true">
    <ion-slide *ngFor="let vaccine of vaccines$ | async">
      <ion-card >
        <ion-card-header>
          <ion-card-title>{{vaccine.name}}</ion-card-title>
          <ion-card-subtitle *ngIf="vaccine.mandatory">Obligatoire</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{vaccine.description}}
          <ion-item></ion-item>
          <ion-chip *ngFor="let period of vaccine.vaccinePeriods">
            <ion-label [color]="period.boosterDose ? 'warning' : 'primary'">{{period.period.label}}</ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-item>
    <ion-chip color="primary">
      <ion-label>Vaccin</ion-label>
    </ion-chip>
    <ion-chip color="warning">
      <ion-label>Rappel</ion-label>
    </ion-chip>
  </ion-item>

</ion-content>
