<ion-menu-toggle *ngIf="item.url">
    <ion-item [routerLink]="item.url" routerDirection="root" routerLinkActive="active">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
    </ion-item>
</ion-menu-toggle>
<ion-item button *ngIf="item.children?.length > 0" (click)="item.open = !item.open"
          [class.active-parent]="item.open" detail="false">
    <ion-icon slot="start" name="arrow-forward" *ngIf="!item.open"></ion-icon>
    <ion-icon slot="start" name="arrow-down" *ngIf="item.open"></ion-icon>
    <ion-label>{{item.title}}</ion-label>
</ion-item>

<ion-list *ngIf="item.open">
    <ion-menu-toggle>
        <ion-item *ngFor="let sub of item.children" [routerLink]="sub.url" class="sub-item"
                  routerDirection="root" routerLinkActive="active">
            <ion-icon [name]="sub.icon" slot="start"></ion-icon>
            {{sub.title}}
        </ion-item>
    </ion-menu-toggle>
</ion-list>
