<ion-card class="widget-container">
  <ion-card-header>
    <ion-card-title>Étapes du développement</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="children && children.length > 0; else noContent">
      <ion-select (ionChange)="onChildChange($event)" [compareWith]="compareWith" [value]="children[0]">
        <ion-select-option *ngFor="let child of children" [value]="child">
          {{child.name}}
        </ion-select-option>
      </ion-select>
      <ng-container *ngIf="growthStages$ | async as growthStages">
        <ion-card *ngFor="let item of growthStages">
          <ion-card-header>
            <ion-card-title>{{item.type}}</ion-card-title>
            <ion-card-subtitle>
              <ion-chip>
                {{item.period}}
              </ion-chip>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{item.description}}
          </ion-card-content>
        </ion-card>
      </ng-container>
    </ng-container>
    <ng-template #noContent>
      <div class="no-content">
        <ion-img src="assets/icon/md-growth.svg"></ion-img>
        <p>Vous n'avez pas encore créer de compte enfant</p>
      </div>
    </ng-template>
  </ion-card-content>
</ion-card>
