<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="ion-text-center">Ajouter un rendez-vous</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()">
      <ion-icon name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-item>
        <ion-select [(ngModel)]="event.title" placeholder="Type">
          <ion-select-option *ngFor="let item of appointmentType | keyvalue" [value]="item.key">{{item.key | appointmentType }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input type="text" [(ngModel)]="event.desc"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-item>
        <ion-label position="stacked">Début</ion-label>
        <ion-datetime cancel-text="Annuler" done-text="Ok" picker-format="DD MMM YYYY HH:mm" display-format="DD MMM YYYY HH:mm"
                      [(ngModel)]="event.startTime" (ionChange)="onStartTimeChange($event.detail.value)"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-item>
        <ion-label position="stacked">Fin</ion-label>
        <ion-datetime cancel-text="Annuler" done-text="Ok" picker-format="DD MMM YYYY HH:mm"
                      display-format="DD MMM YYYY HH:mm" [(ngModel)]="event.endTime"
                      [min]="minEndDate"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
