.active {
  --ion-text-color: var(--ion-color-primary);
  ion-icon {
    --ion-text-color-rgb: var(--ion-color-primary);
  }
}

.active-parent {
  font-weight: 500;
}

.sub-item {
  padding-left: 20px;
  font-size: small;
}

ion-toolbar::part(container) {
  color:red;
  border: 2px red dotted;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
