<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="start">
      <ion-img src="assets/icon/logo.png" alt="logo"></ion-img>
    </ion-thumbnail>
    <ion-title>Rendez-vous {{ currentMonth }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCalendarModal()" color="primary">
        Ajouter rendez-vous
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <h2>{{ currentMonth }}</h2>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar [eventSource]="eventSource$ | async"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            [locale]="calendar.locale"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            startHour="6"
            endHour="20"
            step="30"
            startingDayWeek="1"
            noEventsLabel="Pas de rendez-vous prévu">
  </calendar>

</ion-content>
