/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Calendar CSS */
.monthview-current {
  background-color: var(--ion-background-color) !important;
  border: 2px dashed var(--ion-color-success);
  color: var(--ion-color-success) !important;
  font-weight: bolder !important;
}
.monthview-primary-with-event { background-color: var(--ion-color-warning) !important; }
.monthview-selected { background-color: var(--ion-color-primary) !important; }

.modal-css {
  height: 80%;
  --border-radius: 10px;
  padding: 25px;
  margin: auto;

  ion-item {
    margin: 5px;
  }

  @media (min-width: 960px) {
    width: 70%;
  }
}

.alert-checkbox-label.sc-ion-alert-md,
.alert-checkbox-label.sc-ion-alert-ios,
.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios{
  white-space: normal;
}
.alert-tappable.alert-checkbox,
.alert-tappable.alert-radio{
  height: auto;
  contain: content;
}
