@use '../widget';

.widget-container {
  display: flex;
  flex-direction: column;

  ion-card-content {
    display: flex;
    flex-direction: column;

    .no-content {
      justify-content: center;
    }
  }
}

.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-img {
    margin: 2em;
  }
}
